<!doctype html>
<html lang='es'>
<body>
<p>{{name}}, parece que te has olvidado de tu contraseña</p>
<p>No te preocupes aunque no recuerdes tu contraseña siempre puedes recuperarla</p>
<p><a href='{{url}}'>Recuperar contraseña</a></p>
</body>
</html>
