doctype html
html(lang="es")
    body
        p #{name}, parece que has olvidado tu contraseña.
        p No te preocupes, aunque no recuerdes tu contraseña siempre puedes recuperarla.
        p #[a(href=`${url}`) Recuperar contraseña]