<!doctype html>
<html lang='es'>
<head>
  <title></title>
  <style>
    a:link, a:visited {
      background-color: #0758C2;
      color: white;
      padding: 8px 16px 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 6px;
      border-color: #0758C2;
    }

    img {
      width: 360px;
      height: 85px;
    }

    body {
      padding: 0 24px 0 24px;
    }
  </style>
</head>
<body>
<!-- <img src='https://dev-front-ucp.s3.eu-west-3.amazonaws.com/logo-universae.png' alt='universae' /> -->
<h1>Solicitud de cambio de contraseña</h1>
<p>¡Hola {{ name }}!</p>
<p>Recibes este correo porque has solicitado restablecer tu contraseña en Universae.</p>
<p>
  Para continuar, haz clic en el botón y serás dirigido a la página donde podrás cambiar tu contraseña
</p>
<p>Si no has solicitado este cambio puedes ignorar este mensaje</p>
<p>¡Gracias!</p>
<a href='{{url}}'>Cambiar Contraseña</a>
<br>
</body>
</html>

